/* calendrier.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}
.calendrier-page {
    width: 100%;
    min-height: 100vh;
    background: var(--Fond-Primaire, #FAF9F6);
    background: var(--Fond-Primaire, color(display-p3 0.9804 0.9765 0.9647));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.calendrier-header {
    position: relative;
    display: flex;
    height: 15.625rem;
    padding: 3rem 1.5rem 0.5rem 1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    z-index : 2;
}

.btn-new-course {
    display: flex;
    min-height: 2.75rem;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 3.125rem;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
    color: var(--Bleu, #007999);
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-new-course:hover {
    background: #f0f0f0;
    transform: translateY(-0.125rem);
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.plus-icon {
    color: var(--Bleu, #007999);
    color: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "SF Pro";
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 510;
    line-height: 1.375rem; /* 129.412% */
    letter-spacing: -0.025rem;
    width: 1rem;
    height: 1rem;
}

.btn-calendar {
    display: flex;
    height: 2.75rem;
    min-width: 2.75rem;
    min-height: 2.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    aspect-ratio: 1/1;
    border-radius: 3.125rem;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
}

.btn-calendar:hover {
    background: #f0f0f0;
    transform: translateY(-0.125rem);
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-calendar img {
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "SF Pro";
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 510;
    line-height: 1.375rem; /* 129.412% */
    letter-spacing: -0.025rem;
}

.hidden-date-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 4.5625rem;
    z-index: 2;
    transition: margin-left 0.2s ease;
}

.header-content img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

body.sidebar-expanded .header-content {
    margin-left: 21.75rem;
    transition: margin-left 0.2s ease;
}


@media (max-width: 800px) {
  body.sidebar-expanded .header-content {
    margin-left: 0;
  }
}

.calendar-icon {
    color: var(--Texte-Blanc, #FFF);
    color: var(--Texte-Blanc, color(display-p3 1 1 1));
    font-family: "SF Pro";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
}

.header-title {
    color: var(--Texte-Blanc, #FFF);
    color: var(--Texte-Blanc, color(display-p3 1 1 1));
    font-family: Montserrat;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Main content area */
.calendrier-all {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.calendrier-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
    z-index: 1;
}

/* Day selector */
.day-selector {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 1.5rem;
    background: var(--Fond-Secondaire, #EFEDE3);
    background: var(--Fond-Secondaire, color(display-p3 0.9373 0.9294 0.898));
    z-index: 1;
}

.arrow-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.arrow-btn {
    display: flex;
    width: 2.75rem;
    height: 2.75rem;
    min-width: 2.75rem;
    min-height: 2.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 3.125rem;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
}

.arrow {
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "SF Pro";
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 510;
    line-height: 1.375rem; /* 129.412% */
    letter-spacing: -0.025rem;
    width: 1rem;
    height: 1rem;
}

.arrow-btn:hover {
    background: #f0f0f0;
    transform: translateY(-0.125rem);
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.current-day {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Schedule container */
.schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}


.hour-label {
    display: flex;
    padding-left: 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--Texte-Tertiaire, #9A9A9A);
    color: var(--Texte-Tertiaire, color(display-p3 0.6039 0.6039 0.6039));
    /* Corps Important */
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hour-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.blocks-row {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    align-self: stretch;
    flex-wrap: wrap;
}

/* Class blocks */
.class-block {
    display: flex;
    min-width: 12.5rem;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;
    border-radius: 1.5rem;
    cursor: pointer;
}

.class-block:hover {
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.125rem);
}

/* status-specific colors */
.finished {
    background: linear-gradient(0deg, rgba(154, 154, 154, 0.16) 0%, rgba(154, 154, 154, 0.16) 100%), #FFF; 
    background: linear-gradient(0deg, color(display-p3 0.6039 0.6039 0.6039 / 0.16) 0%, color(display-p3 0.6039 0.6039 0.6039 / 0.16) 100%), color(display-p3 1 1 1);
}

.finished-absent {
    background: linear-gradient(0deg, rgba(219, 40, 36, 0.16) 0%, rgba(219, 40, 36, 0.16) 100%), #FFF;
    background: linear-gradient(0deg, color(display-p3 0.7882 0.2314 0.1882 / 0.16) 0%, color(display-p3 0.7882 0.2314 0.1882 / 0.16) 100%), color(display-p3 1 1 1);
}

.started {
    background: linear-gradient(0deg, rgba(0, 119, 150, 0.16) 0%, rgba(0, 119, 150, 0.16) 100%), #FFF;
    background: linear-gradient(0deg, color(display-p3 0.1799 0.4609 0.576 / 0.16) 0%, color(display-p3 0.1799 0.4609 0.576 / 0.16) 100%), color(display-p3 1 1 1);
}

.started-absent {
    background: linear-gradient(0deg, rgba(230, 100, 0, 0.16) 0%, rgba(230, 100, 0, 0.16) 100%), #FFF;
    background: linear-gradient(0deg, color(display-p3 0.84 0.4238 0.1613 / 0.16) 0%, color(display-p3 0.84 0.4238 0.1613 / 0.16) 100%), color(display-p3 1 1 1);
}

.planned {
    background: #FFF;
    background: color(display-p3 1 1 1);
}

/* Block content */

.block-title {
    align-self: stretch;
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    /* Corps Important */
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.block-time {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.5294 0.4078 0.2196));
    /* Description */
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.block-room {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.5294 0.4078 0.2196));
    /* Description */
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.time-room {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.125rem 1rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.block-teacher {
    align-self: stretch;
    color: var(--Texte-Tertiaire, #9A9A9A);
    color: var(--Texte-Tertiaire, color(display-p3 0.6039 0.6039 0.6039));
    /* Description */
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.block-container {
    display: flex;
    padding: 0.375rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.125rem;
    background: var(--Fond-Secondaire, #EFEDE3);
    background: var(--Fond-Secondaire, color(display-p3 0.9373 0.9294 0.898));
}

.block-group {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.5294 0.4078 0.2196));
    /* Description */
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.legend {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
    border-radius: 1.5rem;
    background: var(--Fond-Secondaire, #EFEDE3);
    background: var(--Fond-Secondaire, color(display-p3 0.9373 0.9294 0.898));
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.legend-item span {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.5294 0.4078 0.2196));
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.legend-color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
}

.legend-color.finished {
    background: rgba(154, 154, 154, 0.32);
    background: color(display-p3 0.6039 0.6039 0.6039 / 0.32);
}

.legend-color.finished-absent {
    background: rgba(219, 40, 36, 0.32);
    background: color(display-p3 0.7882 0.2314 0.1882 / 0.32);
}

.legend-color.started {
    background: rgba(0, 119, 150, 0.32);
    background: color(display-p3 0.1799 0.4609 0.576 / 0.32);
}

.legend-color.started-absent {
    background: rgba(230, 100, 0, 0.32);
    background: color(display-p3 0.84 0.4238 0.1613 / 0.32);
}

.legend-color.planned {
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
}