/* connexion.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}
.connexion-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.connexion-background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.connexion-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  /* no color boost for avif/webp */
}

.connexion-card {
    display: flex;
    width: 21.125rem;
    padding: 2rem 0.875rem 0.875rem 0.875rem;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    border-radius: 2.375rem;
    border: 1px solid var(--Bordure-Web, rgba(255, 255, 255, 0.64));
    border: 1px solid var(--Bordure-Web, color(display-p3 1 1 1 / 0.64));
    background: var(--Fond-Transparent, rgba(249, 249, 249, 0.64));
    background: var(--Fond-Transparent, color(display-p3 0.9765 0.9765 0.9765 / 0.64));
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 24px 0 color(display-p3 0 0 0 / 0.12);
    backdrop-filter: blur(20px);
    z-index: 1;
}

.connexion-title {
    color: #000;
    color: color(display-p3 0 0 0);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.form-subgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;
    align-self: stretch;
}

.form-group input {
    display: flex;
    height: 2.75rem;
    padding: 0.9375rem;
    align-items: center;
    gap: 0.375rem;
    align-self: stretch;
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.64);
    background: rgba(249, 249, 249, 0.64);
    outline: none;
}


input::placeholder {
    color: var(--Texte-Quaternaire, #C1B4A0);
    color: var(--Texte-Quaternaire, color(display-p3 0.7412 0.7059 0.6431));
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.form-group label {
    color: var(--Texte-Transparent, rgba(100, 100, 100, 0.90));

    /* Description */
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.connexion-button {
    display: flex;
    min-height: 3rem;
    padding: 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    align-self: stretch;
    border-radius: 3.125rem;
    background: var(--Bleu, #007999);
    background: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));
    color: var(--Fond-Primaire, #FAF9F6);
    color: var(--Fond-Primaire, color(display-p3 0.9804 0.9765 0.9647));
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.error-text {
    color: #681717;
    color: color(display-p3 0.4118 0.0902 0.0902);
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
    text-align: center;
    align-self: center;
    width: 100%;
}
