@import './groupes-classes-detail.css';

/* Code for ecole section page */

.role-school-grid {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.school-card {
    height: 6.25rem;
}

.school-value {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Parametres Form Styles */

.parametres-form {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.parametres-form fieldset {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 2.375rem;
    background: var(--Fond-Secondaire, #EFEDE3);
    background: var(--Fond-Secondaire, color(display-p3 0.9373 0.9294 0.898));
    border: none;   
}

.parametres-form p {
    display: flex;
    padding-left: 0.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;
    align-self: stretch;
}

.form-group label {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-group input[type="number"] {
    display: flex;
    height: 2.75rem;
    padding: 0.9375rem;
    align-items: center;
    gap: 0.375rem;
    align-self: stretch;
    border-radius: 62.5rem;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-group input[type="number"]:focus {
    outline: none;
    box-shadow: none;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}

.checkbox-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-icon {
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
}

.checkbox-item span {
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Modal Edit Form Styles */

.modal-edit-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.user-modal__body {
    padding: 0 0 2.375rem 0;
}

.edit-input {
    border-radius: 0.375rem;
    font-family: Montserrat;
    font-size: 2.5rem;
    text-align: center;
    min-height: 2.5rem;
}

.edit-input:focus {
    outline: none;
    box-shadow: none;
}

.edit-input::placeholder {
    color: rgba(0, 0, 0, 0.2);;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-save {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    min-height: 2.75rem;
    padding: 0.625rem 0.875rem;
    margin: 0 auto;
    margin-top: 1.875rem;
    border-radius: 3.125rem;
    border: none;
    box-sizing: border-box;
    background-color: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));
    color: var(--Fond-Primaire, color(display-p3 0.9804 0.9765 0.9647));
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.btn-save:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}
