@import './groupes-classes-detail.css';

/* Code for ecole section page */

.role-school-grid {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.school-card {
    height: 100px;
}

.school-value {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Parametres Form Styles */

.parametres-form {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.parametres-form fieldset {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 38px;
    background: var(--Fond-Secondaire, #EFEDE3);
    background: var(--Fond-Secondaire, color(display-p3 0.9373 0.9294 0.898));
}

.parametres-form p {
    display: flex;
    padding-left: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.form-group label {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-group input[type="number"] {
    display: flex;
    height: 44px;
    padding: 15px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 1000px;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-group input[type="number"]:focus {
    outline: none;
    box-shadow: none;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.checkbox-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.checkbox-item span {
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Modal Edit Form Styles */

.modal-edit-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
}

.user-modal__body {
    padding: 0px 0px 38px 0px;
}

.edit-input {
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
    min-height: 40px;
}

.edit-input:focus {
    outline: none;
    box-shadow: none;
}

.edit-input::placeholder {
    color: rgba(0, 0, 0, 0.2);;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-save {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    min-height: 44px;
    padding: 10px 14px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    background-color: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));
    color: var(--Fond-Primaire, color(display-p3 0.9804 0.9765 0.9647));
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.btn-save:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
