@import './role-users.css';

.group-detail-page {
    min-height: 100vh;
}

.group-detail-page .edit-user-header {
    background: rgba(249, 249, 249, 0.6);
}

.role-add-btn{
    display: flex;
    min-height: 44px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 50px;
    background: var(--Bleu, #007999);
    background: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));
    color: var(--Fond-Primaire, #FAF9F6);
    color: var(--Fond-Primaire, color(display-p3 0.9804 0.9765 0.9647));
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    aspect-ratio: auto;
}

