.users-page {
    width: 100%;
    min-height: 100vh;
    background: var(--Fond-Primaire, #FAF9F6);
    background: var(--Fond-Primaire, color(display-p3 0.9804 0.9765 0.9647));
}

.users-header {
    position: relative;
    display: flex;
    height: 250px;
    padding: 48px 24px 8px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    z-index : 2;
}

.btn-new-course {
    display: flex;
    min-height: 44px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 50px;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
    color: var(--Bleu, #007999);
    color: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));

    /* Bouton */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-new-course:hover {
  background: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.plus-icon {
    color: var(--Bleu, #007999);
    color: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "SF Pro";
    font-size: 17px;
    font-style: normal;
    font-weight: 510;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.4px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    z-index: 2;
}

.user-icon {
    color: var(--Texte-Blanc, #FFF);
    color: var(--Texte-Blanc, color(display-p3 1 1 1));
    font-family: "SF Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
}

.header-title {
    color: var(--Texte-Blanc, #FFF);
    color: var(--Texte-Blanc, color(display-p3 1 1 1));
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.users-content {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    padding-left: 50px; /* Adjust based on sidebar width */
}

.role-cta {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.role-cta .card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    flex: 1 0 0;
    border-radius: 24px;
    background: var(--Fond-Secondaire, #EFEDE3);
    background: var(--Fond-Secondaire, color(display-p3 0.9373 0.9294 0.898));
}

.role-cta .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 32px rgba(16, 38, 148, 0.12);
  border-color: #102694;
}

.icon-circle {
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    text-align: center;
    font-family: "SF Pro";
    font-size: 56px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-text .label {
    color: #000;
    color: color(display-p3 0 0 0);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-text .arrow-icon {
    color: #000;
    color: color(display-p3 0 0 0);
    text-align: center;
    font-family: "SF Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}


.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.search-label {
    padding-left: 15px;
    color: var(--Texte-Secondaire, #866738);
    color: var(--Texte-Secondaire, color(display-p3 0.4902 0.4118 0.2706));
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search-input-wrapper {
    display: flex;
    height: 44px;
    padding: 15px 15px 15px 15px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 1000px;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--Texte-Quaternaire, #C1B4A0);
    color: var(--Texte-Quaternaire, color(display-p3 0.7412 0.7059 0.6431));
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.all-users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.section-title {
    color: var(--Texte-Tertiaire, #9A9A9A);
    color: var(--Texte-Tertiaire, color(display-p3 0.6039 0.6039 0.6039));
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.user-cards {
    display: inline-grid;
    row-gap: 24px;
    column-gap: 24px;
    align-self: stretch;
    grid-template-rows: repeat(3, fit-content(100%));
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.user-card {
    display: flex;
    min-width: 150px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-self: stretch;
    border-radius: 24px;
    background: var(--Fond-Tertiaire, #FFF);
    background: var(--Fond-Tertiaire, color(display-p3 1 1 1));
}

.user-card:hover {
  border-color: #102694;
  transform: translateY(-2px);
  box-shadow: 0 16px 28px rgba(16, 38, 148, 0.12);
}

.avatar {
    align-self: stretch;
    color: var(--Texte-Tertiaire, #9A9A9A);
    color: var(--Texte-Tertiaire, color(display-p3 0.6039 0.6039 0.6039));
    text-align: center;
    font-family: "SF Pro";
    font-size: 56px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.name {
    color: var(--Texte-Primaire, #2A2A2A);
    color: var(--Texte-Primaire, color(display-p3 0.1647 0.1647 0.1647));
    text-align: center;

    /* Corps Important */
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.role {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 1000px;
    background: rgba(0, 153, 150, 0.16);
    background: color(display-p3 0.1765 0.5882 0.5843 / 0.16);
}

.role-value {
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.role-student{
    background: rgba(0, 119, 150, 0.16);
    background: color(display-p3 0.1799 0.4609 0.576 / 0.16);
    color: var(--Bleu, #007999);
    color: var(--Bleu, color(display-p3 0.1799 0.4609 0.576));
}

.role-teacher{
    background: rgba(0, 153, 150, 0.16);
    background: color(display-p3 0.1765 0.5882 0.5843 / 0.16);
    color: var(--Cyan, #009C97);
    color: var(--Cyan, color(display-p3 0.1765 0.5882 0.5843));
}

.role-admin{
    background: rgba(134, 77, 176, 0.16);
    background: color(display-p3 0.4941 0.3137 0.6706 / 0.16);
    color: var(--Violet, #8F49B6);
    color: var(--Violet, color(display-p3 0.4941 0.3137 0.6706));
}

.role-icon {
    text-align: center;
    font-family: "SF Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.ghost.small {
  padding: 6px 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .users-page {
    min-height: 100vh;
  }

  .users-header {
    height: auto;
    padding: 32px 20px 24px 20px;
  }

  .users-content {
    padding: 20px;
  }
}